nova/api/openstack/compute/schemas/v1.1/versions.rng

<element name="versions" xmlns="http://relaxng.org/ns/structure/1.0"
         ns="http://docs.openstack.org/compute/api/v1.1">
  <oneOrMore>
    <element name="version">
      <attribute name="id"/>
      <attribute name="status"/>
      <attribute name="updated"/>
      <externalRef href="../atom-link.rng"/>
    </element>
  </oneOrMore>
</element>
