nova/api/openstack/schemas/v1.1/flavors_index.rng

<element name="flavors" ns="http://docs.openstack.org/compute/api/v1.1"
    xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="flavor">
      <attribute name="name"> <text/> </attribute>
      <attribute name="id"> <text/> </attribute>
      <zeroOrMore>
        <externalRef href="../atom-link.rng"/>
      </zeroOrMore>
    </element>
  </zeroOrMore>
</element>
