nova/api/openstack/compute/schemas/v3/addresses.rng

<element name="addresses" ns="http://docs.openstack.org/compute/api/v1.1"
    xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="network">
      <attribute name="id"> <text/> </attribute>
        <zeroOrMore>
          <element name="ip">
            <attribute name="version"> <text/> </attribute>
            <attribute name="addr"> <text/> </attribute>
          </element>
        </zeroOrMore>
    </element>
  </zeroOrMore>
</element>
